@model DateViewModel;

<div class="date-field">
    <div>
        <label asp-for="Day" class="control-label"></label>
        <input asp-for="Day" class="form-control" />
        <span asp-validation-for="Day" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Month" class="control-label"></label>
        <input asp-for="Month" class="form-control" />
        <span asp-validation-for="Month" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Year" class="control-label"></label>
        <input asp-for="Year" class="form-control" />
        <span asp-validation-for="Year" class="text-danger"></span>
    </div>
</div>